<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-primary">

        <div class="panel-heading">
          Facial Recognition based login and authorization dashboard
        </div>
        <div class="panel-body">
          <p><b>If you are here, its because you are succesfully logged in.</b></p>
          <p>Keep an eye out here for exciting things to happen</p>
        </div>
      </div>
    </div>
  </div>
</div>
