<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel-body">
        <h1>Login</h1>

        <%= form_tag '/login' do %>

        <%= text_field_tag :email, "", class: 'form-control', placeholder: 'Email' %>
        <%= password_field_tag :password, "", class: 'form-control', placeholder: 'Password' %>
        <%= submit_tag "Submit", class: 'btn btn-primary' %>

        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel-body">
        <h1>Login with webcam</h1>

          <div class="panel panel-default" >
            <div class="panel-heading button button-group">
              <p><h4>Please take a photo with your face clearly visible and well lit</h4></p>

                <button class="btn btn-primary" id="shutter-button">Take Photo</button>

            </div>
            <div class="panel-body"  >
              <div class="embed-responsive embed-responsive-4by3" id="my_camera" data-submit="/webcam/login">
                Please allow the browser to access your webcam
              </div>
            </div>
            <div class="panel-footer">

              <input type="text" name="email" id="email-webcam" class="form-control" placeholder="Enter your email address here" />

            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<script language="JavaScript">
  Webcam.attach('#my_camera', function(){
    $('#my_camera').empty()
  })
</script
