<!-- <div id="my_camera" style="width:320px; height:240px;"></div> -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default" >
        <div class="panel-heading button button-group">
          <p><h4>Photo Tips</h3></p>
            <ul>
              <li>Make sure that there is even adequate light.</li>
              <li>A neutral expression or gentle smile works best.</li>
              <li>Make sure that other faces aren't visible in the background.</li>
            </ul>

          <button class="btn btn-primary" id="shutter-button">Take Photo</button>

        </div>
        <div class="panel-body"  >
          <div class="embed-responsive embed-responsive-4by3" id="my_camera" data-submit='/enrollments'>
            Please allow the browser to access your webcam
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
<script language="JavaScript">
  Webcam.attach('#my_camera', function(){
    $('#my_camera').empty()
  })
</script>
